.Chat-main
  .Main-header
    .group-info
      .group-info__name
        =  @group.name
      %ul.group-info__memberlist
        Member:
        - @group.users.each do |user|
          = user.name
        %li.group-info__memberlist__member
    = link_to "Edit", edit_group_path(current_user), class: "group-edit"
  .Messages-list
    = render @messages
  .Message-form
    = form_with model: [@group, @message], html: {class: "Form"}, local: true do |f|
      .Form__contents
        .input-box
          = f.text_field :content, class: 'input-box__text', placeholder: "type a message"
          = f.label :image, class: "input-box__image" do
            = icon('fas', 'image')
            = f.file_field :image, class: "input-box__image__btn"
        = f.submit 'Send', class: "submitbtn" 