.Side-bar
  .User-name
    .top-items
      %h3.top-items__name
        = current_user.name
      .top-items__icons
        = link_to new_group_path, class: "icon" do
          = icon("far", "edit")
          %span<>
        = link_to edit_user_path(current_user), class: "icon" do
          = icon("fas", "cog")
          %span<>
  .Side-bar-group
    - current_user.groups.each do |group|
      .group-list
        = link_to group_messages_path(group) do
          .group-list__name
            = group.name
          .group-list__message
            = group.show_last_message